@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto slab', Arial, Helvetica, sans-serif;

  --dark-color: #24292F;
  --light-color: #EDEADE;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--light-color);
}

main {
  width: fit-content;
  margin:0 auto;
}

main h1 {
  margin: 1rem;
  text-decoration: underline;
  color: var(--dark-color);
}

footer {
  display: grid;
  justify-content: center;

  margin-top: auto;
  padding: 1rem;
  background-color: var(--dark-color);
}

footer a {
  color: var(--light-color);
  text-decoration: none;
}

#gameboard {
  background-color: var(--dark-color);
  --side-length: clamp(100px, 8vw, 400px);

  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, var(--side-length));
  grid-template-rows: repeat(3, var(--side-length));
  
  gap: calc(var(--side-length) * 8 / 100);
  font-size: calc(var(--side-length) * 50 / 100);
}

#gameboard > button {
  border: none;
  background-color: var(--light-color);

  color: var(--dark-color);
  font-weight: bold;
  font-size: inherit;

  transform: scale(1.02);
}

[data-animation="grow"] {
  animation: grow 200ms forwards;
}

@keyframes grow {
  from {
    font-size: 0;
  }
  
  to {
    font-size: inherit;
  }
}

#scoreboard {
  display: flex;
  align-items: center;
  
  min-width: 100%;
  height: 4rem;
  margin: 2rem 0;
}

#scoreboard > div {
  flex: 1; 
  height: 100%;
  padding: 1rem;

  display: grid;
  align-items: center;
  transition: all 300ms ease-in-out;

  text-align: center;
}

#scoreboard [data-playing="true"] {
  flex: 10;
  font-weight: bold;
  font-size: 1.8rem;

  background-color: var(--dark-color);
  color: var(--light-color);
}