* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

#gameboard {
  background-color: black;
  --side-length: clamp(100px, 10vw, 500px);

  display: grid;
  grid-template-columns: repeat(3, var(--side-length));
  grid-template-rows: repeat(3, var(--side-length));
  
  gap: calc(var(--side-length) * 8 / 100);
  font-size: calc(var(--side-length) * 50 / 100);
}

#gameboard > button {
  border: none;
  background-color: white;

  color: black;
  font-weight: bold;
  font-size: inherit;
}

[data-animation="grow"] {
  animation: grow 200ms forwards;
}

@keyframes grow {
  from {
    font-size: 0;
  }
  
  to {
    font-size: inherit;
  }
}

#scoreboard {
  display: flex;
  align-items: center;
  text-align: center;
  
  height: 4rem;
  margin: 2rem 0;
}

#scoreboard > div {
  flex: 1; 
  height: 100%;
  padding: 1rem;

  display: grid;
  align-items: center;
  transition: all 200ms;
}

#scoreboard > div:first-child {
  text-align: end;
  background-color: red;
}

#scoreboard > div:nth-child(2) {
  text-align: start;
  background-color: blue;
}

#scoreboard [data-playing="true"] {
  flex: 2;
  font-weight: bold;
  font-size: 24px;
}